# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
env/
venv/

# Environment files
.env

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

